body {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
}
.pics{
  width: 80%;
  text-align: center;
}
.logo{
  background: url(../img/logo.png);
  height: 200px;
  width:  400px;
  background-repeat: no-repeat;
}
